table{
    border: 2px solid black;
    border-collapse: collapse;
    Max-width: 100%;
    padding: 10px;
    margin: auto;
    background-color: aliceblue;
}
caption{
    font-size: 50px;
}

tr{
    border: 1px solid black;
}

th{
    width: 30px;
}
.title{

    text-align: center;
}
td{
    border: 1px solid black;
    width: 160px;
    height: 20px;
    text-align: center;
}

td.thas{
    color: red;

}