ul{

    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.navbar{
    height: 43px;
    background-color: burlywood;
}

nav a:hover{

    color: brown;

}


nav a{
    text-align: center;
    color: inherit;
    text-decoration: none;
    font-size: 20px;

}












